<footer class="footer">
  <div class="container">
    <copyright>
      &copy; Consultadd <%= Time.now.year %>
    </copyright>
    <nav>
      <ul>
        <li>Visit Us At   <a href="http://www.consultadd.com/">www.consultadd.com</a></li>
      </ul>
    </nav>
  </div>
</footer>